@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 2rem;
}

html {
    font-size: 16px;
}

:root {
    --primary-color: #7c3aed;
    --secondary-color: rgb(255, 255, 255);
    --gray: rgb(169, 169, 169);
    --white: white;
}

/*                      For Home Css */

.head {
    background-color: var(--primary-color);
    padding: 2rem;
    color: var(--secondary-color);
}

.logo {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.page-link {
    text-align: right;
}

.page-link a {
    font-size: 1.2rem;
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 1rem;
    padding-bottom: 3px;
    font-weight: 600;
}

.page-link-style {
    border-bottom: 1px solid;
    transition: .5s;
}

.home-page-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 7rem 0;
}

.image {
    width: 90vh;
}

.owner-name {
    line-height: 7rem;
    font-size: 6rem;
    color: var(--gray);
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
}

.career-name {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 5.5rem;
    color: #9577c9;
    font-weight: 550;
}

.owner-name span,
.page-heading span {
    color: var(--primary-color);
}

.secondary-btn,
.primary-btn {
    display: block;
    margin: auto;
    color: var(--white);
    font-size: 1.3rem;
    position: relative;
    width: fit-content;
    text-decoration: none;
    padding: .8rem 0;
    width: 150px;
    tab-size: center;
    border-radius: .5rem;
    background-color: var(--primary-color);
}

.secondary-btn {
    background-color: var(--white);
    color: var(--primary-color);
    border: 2px solid;
}

.primary-btn::after {
    border: 2px solid var(--primary-color);
    content: attr(data-text);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: .7rem 0;
    background-color: var(--white);
    border-radius: .5rem;
    color: var(--primary-color);
    transition: .3s;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(30px);
}

.secondary-btn::after {
    content: attr(data-text);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: .8rem 0;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: .3rem;
    color: var(--white);
    transition: .3s;
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(30px);
}

.secondary-btn:hover::after,
.primary-btn:hover::after {
    transform: rotateX(0deg) translateY(0);
}

.home-blog-section,
.home-project-section,
.home-technology-section {
    text-align: center;
    margin-bottom: 3rem;
}

.home-blog-section p,
.home-project-section p,
.home-technology-section p {
    font-size: 1.3rem;
    width: 82vh;
    margin: auto;
    margin-top: .3rem;
}

.footer {
    background-color: var(--primary-color);
    padding: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
}

.footer p {
    font-size: 1.2rem;
    font-weight: 550;
}

.social-media-links {
    text-align: center;
    margin-top: 1rem;
}

.social-media-links a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 1rem;
    padding: 5px;
    ;
    font-size: 1.5rem;
    text-align: center;
}

/*                          For project Css         */

.home-technology-section,
.home-project-section,
.home-blog-section,
.blog-section,
.project-section {
    box-shadow: 0 0 2px 2px var(--primary-color);
    text-align: center;
    width: 75vw;
    padding: 1.5rem;
    margin: auto;
    margin-bottom: 2rem;
}

.home-technology-section:hover,
.home-project-section:hover,
.home-blog-section:hover,
.blog-section:hover,
.project-section:hover {
    box-shadow: 0 0 3px 4px var(--primary-color);
}

.page-heading {
    font-size: 2rem;
    text-align: center;
    margin: 6rem;
    color: var(--gray);
}

.project-section h2 {
    text-align: center;
}

.small-txt {
    margin-top: 3px;
    text-align: center;
}

.about-project {
    width: 100vh;
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
}

.proje-link {
    margin: .3rem 0;
    text-align: center;
    padding: 0rem 4rem;
    margin-bottom: 2.5rem;
}

/*                          For  Blogs css*/

.blog-section h2 {
    text-align: center;
}

.about-blog {
    font-size: 1.3rem;
    width: 100vh;
    margin: auto;
}

.font-blog {
    text-align: center;
}